body
{
}
.menu {
	width: 210px;
}
button
{
width: 200px;
height: 40px;
-webkit-box-align: center;
text-align: center;
cursor: default;
color: buttontext;
padding: 2px 6px 3px;
border: 2px outset buttonface;
border-image: initial;
background-color: buttonface;
box-sizing: border-box;
position: relative;
z-index: 1;
font-size: 12px;
margin-bottom: 10px;
border-radius: 5px;
}
.arrow{
	width: 98px;
}
.instructions {
font-family: arial, sans-serif;
font-size: 12px;
background-color: white;
color: rgb(12,20,31);
border-radius: 5px;
width: 190px;
z-index: 1;
position: relative;
padding: 5px;
background-image: url('atSign.png');
background-size: contain;
background-repeat: no-repeat;
background-position: center;
}
#viewport {
	top: 0;
	right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    /*-webkit-perspective: 1000;*/ 
    position: absolute;
	background-image: -webkit-linear-gradient(bottom, rgb(0,0,0) 28%, rgb(12,20,31) 64%);
	background-image: -webkit-gradient( linear, left bottom, left top, color-stop(0.60, rgb(0,0,0)), color-stop(0.64, rgb(12,20,31)) );
	
}
 
#world {
    height: 500px;
	width: 500px;
	top: 50%;
    left: 50%;
	margin-top: -250px;
    margin-left: -250px;
    position: absolute;
	/*background-color: rgba( 255, 0, 0, .2 );*/
    -webkit-transform-style: preserve-3d;
}
	#world div {
		-webkit-transform-style: preserve-3d;
}
#protagonist {
width: 30px;
height: 30px;
	margin-top: 10px;
    margin-left: 10px;
	font-size: 150%;
	text-align: center;
	color: white;
/*border: 1px solid black;*/
}
.cubeBase {
	/*background-color: rgba( 0, 191, 255, .5 ); border: 1px solid black;
	background-color: rgba( 255, 230, 77, .5 );*/
    height: 50px;
    position: absolute;
    width: 50px;
	
}

.face {
  
  width: 49px;
  height: 49px;
  position: absolute;
  border: 1px solid black;
   /*-webkit-backface-visibility: hidden;
   -moz-backface-visibility: hidden;
   -ms-backface-visibility: hidden;
   backface-visibility: hidden;
   z-index: 100;*/

}

#spot {
  
  width: 20px;
  height: 20px;
  position: absolute;
  border: 1px solid red;
  border-radius: 10px;
  }
.cubeBase .nWall  {
  /*background-color: rgb(242, 24, 25);*/
  -webkit-transform: rotateX(90deg) translateZ(25px);
         background-color: rgba( 0, 191, 255, .1 );
}

.cubeBase .ciel{
  /*background-color: rgb(235, 41, 158);*/
  -webkit-transform: translateZ(25px);
       background-color: rgba( 0, 191, 255, .1 );
}

.cubeBase .eWall {
  /*background-color: rgb(252, 209, 22);*/
  -webkit-transform: rotateY(90deg) translateZ(25px);
       background-color: rgba( 0, 191, 255, .1 );
}

.cubeBase .floor {
  /*background-color: rgb(44, 45, 213);*/
  -webkit-transform: rotateY(180deg) translateZ(25px);
       background-color: rgba( 0, 191, 255, .1 );

}

.cubeBase .wWall {
  /*background-color: rgb(125, 105, 181);*/
  -webkit-transform: rotateY(-90deg) translateZ(25px);
       background-color: rgba( 0, 191, 255, .1 );
}

.cubeBase .sWall {
  /*background-color: rgb(22, 226, 38);*/
  -webkit-transform: rotateX(-90deg) translateZ(25px) rotate(180deg);
         background-color: rgba( 0, 191, 255, .1 );
}

.selected {
	border: 1px solid red;
}

#currentlySelected {
	border: 1px solid green;
}

.myNotice {
  background-color: rgb(50, 50, 50);
  -webkit-box-shadow: inset 0 0 100px rgba(0, 0, 0, 0.5);
  height: 240px;
  opacity: 0.7;
  position: absolute;
  width: 240px;
}